<div class="eqLogic eqLogic-widget col2" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; #style#" data-category="" data-eqLogic_id="#id#" data-version="mobile" >
   <center class="widget-name" style="#hideEqLogicName#"><strong>#name_display#</strong>
   	<span style="font-size: 0.85em;position: relative;top:-2px;display:none;">#object_name#</span>
		<span id="iconSSH#id#" style="float: right;width:25px"></span>
		<script>
			if ('#cnx_ssh#' == 'OK') {
				$('#iconSSH#id#').append('<i title="Connexion SSH OK" class="fas fa-check tooltips" style="font-size : 1.1em;color: var(--al-success-color) !important;" ></i>');
			}
			if ('#cnx_ssh#' == 'KO') {
				$('#iconSSH#id#').append('<i title="Connexion SSH KO" class="fas fa-times tooltips" style="font-size : 1.1em;color: var(--al-danger-color) !important;"></i>');
			}
		</script>
</center>
	<div class="cmd tooltips" style="margin-left:5px;display: #namedistri_display#;">
			<span title="Distribution Linux" class="fab fa-linux" style="min-width:15px"></span>
			<span>#namedistri#</span>
	</div>
	<div class="cmd tooltips" style="margin-left:5px;display: #uptime_display#;">
			<span title="Temps d'activité (uptime)" class="fas fa-tachometer-alt" style="min-width:15px"></span>
			<span id="uptime#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#uptime#id#').append('<span>#uptime#</span>');
		}
    </script>
	<div class="cmd tooltips" style="margin-left:5px;display: #loadavg_display#;">
			<span title="Charge système (load average)" class="fa techno-courbes3" style="width:15px"></span>
			<span id="loadavg1mn#id#"></span><span id="loadavg5mn#id#"></span><span id="loadavg15mn#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			if ('#loadavg1mn#' === '') {
				$('#loadavg1mn#id#').append('<span></span>');
			}else if (parseFloat('#loadavg1mn#') < parseFloat('#loadavg1mnvertinfa#')) {
				$('#loadavg1mn#id#').append('1min : <span style="color: var(--al-success-color) !important;" >#loadavg1mn#</span>');
			}else if ((parseFloat('#loadavg1mn#') >= parseFloat('#loadavg1mnorangede#')) && (parseFloat('#loadavg1mn#') <= parseFloat('#loadavg1mnorangea#'))) {
				$('#loadavg1mn#id#').append('1min : <span style="color: var(--al-warning-color) !important;" >#loadavg1mn#</span>');
			}else if ((parseFloat('#loadavg1mn#') > parseFloat('#loadavg1mnrougesupa#')) && '#loadavg1mnrougesupa#' !== '') {
				$('#loadavg1mn#id#').append('1min : <span style="color: var(--al-danger-color) !important;" >#loadavg1mn#</span>');
			}else {
				$('#loadavg1mn#id#').append('1min : <span>#loadavg1mn#</span>');
			}

			if ('#loadavg5mn#' === '') {
				$('#loadavg5mn#id#').append('<span></span>');
			}else if (parseFloat('#loadavg5mn#') < parseFloat('#loadavg5mnvertinfa#')) {
				$('#loadavg5mn#id#').append(' - 5min : <span style="color: var(--al-success-color) !important;" >#loadavg5mn#</span>');
			}else if ((parseFloat('#loadavg5mn#') >= parseFloat('#loadavg5mnorangede#')) && (parseFloat('#loadavg5mn#') <= parseFloat('#loadavg5mnorangea#'))) {
				$('#loadavg5mn#id#').append(' - 5min : <span style="color: var(--al-warning-color) !important;" >#loadavg5mn#</span>');
			}else if ((parseFloat('#loadavg5mn#') > parseFloat('#loadavg5mnrougesupa#')) && '#loadavg5mnrougesupa#' !== '') {
				$('#loadavg5mn#id#').append(' - 5min : <span style="color: var(--al-danger-color) !important;" >#loadavg5mn#</span>');
			}else {
				$('#loadavg5mn#id#').append(' - 5min : <span>#loadavg5mn#</span>');
			}
			if ('#loadavg15mn#' === '') {
				$('#loadavg15mn#id#').append('<span></span>');
			}else if (parseFloat('#loadavg15mn#') < parseFloat('#loadavg15mnvertinfa#')) {
				$('#loadavg15mn#id#').append(' - 15min : <span style="color: var(--al-success-color) !important;" >#loadavg15mn#</span>');
			}else if ((parseFloat('#loadavg15mn#') >= parseFloat('#loadavg15mnorangede#')) && (parseFloat('#loadavg15mn#') <= parseFloat('#loadavg15mnorangea#'))) {
				$('#loadavg15mn#id#').append(' - 15min : <span style="color: var(--al-warning-color) !important;" >#loadavg15mn#</span>');
			}else if ((parseFloat('#loadavg15mn#') > parseFloat('#loadavg15mnrougesupa#')) && '#loadavg15mnrougesupa#' !== '') {
				$('#loadavg15mn#id#').append(' - 15min : <span style="color: var(--al-danger-color) !important;" >#loadavg15mn#</span>');
			}else {
				$('#loadavg15mn#id#').append(' - 15min : <span>#loadavg15mn#</span>');
			}
		}
    </script>
	<div class="cmd tooltips" style="margin-left:5px;display: #Mem_display#;">
			<span title="Mémoire vive" class="fa techno-memory" style="width:15px"></span>
			<span id="Mempourcent#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			if ('#Mempourc#' === '') {
				$('#Mempourcent#id#').append('<span>#Mem#</span>');
			}else if ((parseInt('#Mempourc#') > parseInt('#Mempourcvertsupa#')) && '#Mempourcvertsupa#' !== '') {
				$('#Mempourcent#id#').append('#Mem# (<span style="color: var(--al-success-color) !important;" >#Mempourc#%</span>)');
			}else if ((parseInt('#Mempourc#') >= parseInt('#Mempourcorangede#')) && (parseInt('#Mempourc#') <= parseInt('#Mempourcorangea#'))) {
				$('#Mempourcent#id#').append('#Mem# (<span style="color: var(--al-warning-color) !important;" >#Mempourc#%</span>)');
			}else if (parseInt('#Mempourc#') < parseInt('#Mempourcrougeinfa#')) {
				$('#Mempourcent#id#').append('#Mem# (<span style="color: var(--al-danger-color) !important;" >#Mempourc#%</span>)');
			}else {
				$('#Mempourcent#id#').append('#Mem# (<span>#Mempourc#%</span>)');
			}
		}
    </script>

	<div class="cmd tooltips" style="margin-left:5px;display: #Mem_swap_display#;">
			<span title="Mémoire Swap" class="fas fa-list" style="width:15px"></span>
			<span id="Mem_swap#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			if ('#Swappourc#' === '') {
				$('#Mem_swap#id#').append('<span>#Mem_swap#</span>');
			}else if ((parseInt('#Swappourc#') > parseInt('#Memswapvertsupa#')) && '#Memswapvertsupa#' !== '') {
				$('#Mem_swap#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="history cursor" style="color: var(--al-success-color) !important;" >#Swappourc#%</span>)');
			}else if ((parseInt('#Swappourc#') >= parseInt('#Memswaporangede#')) && (parseInt('#Mempourc#') <= parseInt('#Mempourcorangea#'))) {
				$('#Mem_swap#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="history cursor" style="color: var(--al-warning-color) !important;" >#Swappourc#%</span>)');
			}else if (parseInt('#Swappourc#') < parseInt('#Memswaprougeinfa#')) {
				$('#Mem_swap#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="history cursor" style="color: var(--al-danger-color) !important;" >#Swappourc#%</span>)');	
			}else {
				$('#Mem_swap#id#').append('#Mem_swap# (<span data-cmd_id="#Swappourcid#" class="history cursor" >#Swappourc#%</span>)');
			}
		}
    </script>

	<div class="cmd tooltips" style="margin-left:5px;display: #ethernet0_display#;">
			<span title="Trafic réseau" class="fa techno-fleches" style="width:15px"></span>
			<span id="ethernet0#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			$('#ethernet0#id#').append('<span>#ethernet0#</span>');
		}
    </script>

	<div class="cmd tooltips" style="margin-left:5px;display: #hddused_display#;">
			<span title="Espace disque" class="fas fa-hdd" style="width:15px"></span>
			<span id="hddpourcused#id#"></span>
	</div>
	<script>
    if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			if ('#hddpourcused#' === '') {
				$('#hddpourcused#id#').append('<span></span>');
			}else if (parseInt('#hddpourcused#') < parseInt('#hddpourcusedvertinfa#')) {
				$('#hddpourcused#id#').append('Total : #hddtotal# - Utilisé : #hddused# (<span data-cmd_id="#hddpourcusedid#" class="history cursor" style="color: var(--al-success-color) !important;">#hddpourcused#%</span>)');
			}else if ((parseInt('#hddpourcused#') >= parseInt('#hddpourcusedorangede#')) && (parseInt('#hddpourcused#') <= parseInt('#hddpourcusedorangea#'))) {
				$('#hddpourcused#id#').append('Total : #hddtotal# - Utilisé : #hddused# (<span data-cmd_id="#hddpourcusedid#" class="history cursor" style="color: var(--al-warning-color) !important;">#hddpourcused#%</span>)');
			}else if ((parseInt('#hddpourcused#') > parseInt('#hddpourcusedrougesupa#')) && '#hddpourcusedrougesupa#' !== '') {
				$('#hddpourcused#id#').append('Total : #hddtotal# - Utilisé : #hddused# (<span data-cmd_id="#hddpourcusedid#" class="history cursor" style="color: var(--al-danger-color) !important;">#hddpourcused#%</span>)');
			}else {
				$('#hddpourcused#id#').append('Total : #hddtotal# - Utilisé : #hddused# (<span data-cmd_id="#hddpourcusedid#" class="history cursor">#hddpourcused#%</span>)');
			}
		}
    </script>
	<div id="synovol2#id#"></div>
	<script>
    if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			if ('#synovolume2_display#' == 'OK'){
				$('#synovol2#id#').append('<div id="synovol2#id#" class="tooltips" data-cmd_id="#hddpourcusedv2id#" style="margin-left:5px;display: #hddusedv2_display#;"><span title="Espace disque Volume 2 (Synology)" class="fas fa-hdd" style="width:15px"></span> <span id="hddpourcusedv2#id#"></span></div>');
			}
			if ('#hddpourcusedv2#' === '') {
				$('#hddpourcusedv2#id#').append('<span></span>');
			}else if (parseInt('#hddpourcusedv2#') < parseInt('#hddpourcusedv2vertinfa#')) {
				$('#hddpourcusedv2#id#').append('Total : #hddtotalv2# - Utilisé : #hddusedv2# (<span data-cmd_id="#hddpourcusedv2id#" class="history cursor" style="color: var(--al-success-color) !important;">#hddpourcusedv2#%</span>)');
			}else if ((parseInt('#hddpourcusedv2#') >= parseInt('#hddpourcusedv2orangede#')) && (parseInt('#hddpourcusedv2#') <= parseInt('#hddpourcusedv2orangea#'))) {
				$('#hddpourcusedv2#id#').append('Total : #hddtotalv2# - Utilisé : #hddusedv2# (<span data-cmd_id="#hddpourcusedv2id#" class="history cursor" style="color: var(--al-warning-color) !important;">#hddpourcusedv2#%</span>)');
			}else if ((parseInt('#hddpourcusedv2#') > parseInt('#hddpourcusedv2rougesupa#')) && '#hddpourcusedv2rougesupa#' !== '') {
				$('#hddpourcusedv2#id#').append('Total : #hddtotalv2# - Utilisé : #hddusedv2# (<span data-cmd_id="#hddpourcusedv2id#" class="history cursor" style="color: var(--al-danger-color) !important;">#hddpourcusedv2#%</span>)');
			}else {
				$('#hddpourcusedv2#id#').append('Total : #hddtotalv2# - Utilisé : #hddusedv2# (<span data-cmd_id="#hddpourcusedv2id#" class="history cursor">#hddpourcusedv2#%</span>)');
			}
		}
	</script>
	<div class="cmd tooltips" style="margin-left:5px;display: #cpu_display#;">
			<span title="Nombre CPU, fréquence et température" class="fa techno-pc" style="width:15px"></span>
			<span id="cpu#id#"></span><span id="cpu_temp#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
			if ('#cpu_temp#' != '') {
				if (parseFloat('#cpu_temp#') < parseFloat('#cpu_tempvertinfa#')) {
					$('#cpu#id#').append('<span>#cpu# </span>');
					$('#cpu_temp#id#').append('(<span style="color: var(--al-success-color) !important;" >#cpu_temp#°C</span>)');
				}else if ((parseFloat('#cpu_temp#') >= parseFloat('#cpu_temporangede#')) && (parseFloat('#cpu_temp#') <= parseFloat('#cpu_temporangea#'))) {
					$('#cpu#id#').append('<span>#cpu# </span>');
					$('#cpu_temp#id#').append('(<span style="color: var(--al-warning-color) !important;" >#cpu_temp#°C</span>)');
				}else if ((parseFloat('#cpu_temp#') > parseFloat('#cpu_temprougesupa#')) && '#cpu_temprougesupa#' !== '') {
					$('#cpu#id#').append('<span>#cpu# </span>');
					$('#cpu_temp#id#').append('(<span style="color: var(--al-danger-color) !important;" >#cpu_temp#°C</span>)');
				}else {
					$('#cpu#id#').append('<span>#cpu# </span>');
					$('#cpu_temp#id#').append('(<span>#cpu_temp#°C</span>)');
				}
			}else {
				$('#cpu#id#').append('<span>#cpu#</span>');
			}
		}

    </script>
	<div class="cmd tooltips" style="margin-left:5px;display: #perso1_display#;">
			<span title="#nameperso1#" style="width:15px">#iconeperso1#</span>
			<span id="uniteperso1#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
            if ('#perso1#' !== '') {
				if (parseFloat('#perso1#') < parseFloat('#perso1vertinfa#')) {
					$('#uniteperso1#id#').append('<span style="color: var(--al-success-color) !important;" >#perso1#</span><span>#uniteperso1#</span>');
				}else if ((parseFloat('#perso1#') >= parseFloat('#perso1orangede#')) && (parseFloat('#perso1#') <= parseFloat('#perso1orangea#'))) {
					$('#uniteperso1#id#').append('<span style="color: var(--al-warning-color) !important;" >#perso1#</span><span>#uniteperso1#</span>');
				}else if ((parseFloat('#perso1#') > parseFloat('#perso1rougesupa#')) && '#perso1rougesupa#' !== '') {
					$('#uniteperso1#id#').append('<span style="color: var(--al-danger-color) !important;" >#perso1#</span><span>#uniteperso1#</span>');
				}else {
                    $('#uniteperso1#id#').append('<span>#perso1##uniteperso1#</span>');
				}
			}else {
			    $('#uniteperso1#id#').append('<span>#perso1##uniteperso1#</span>');
			}		
		}
    </script>

	<div class="cmd tooltips" style="margin-left:5px;display: #perso2_display#;">
			<span title="#nameperso2#" style="width:15px">#iconeperso2#</span>
			<span id="uniteperso2#id#"></span>
	</div>
	<script>
		if ('#cnx_ssh#' == 'OK' || '#cnx_ssh#' == 'No') {
            if ('#perso2#' !== '') {
				if (parseFloat('#perso2#') < parseFloat('#perso2vertinfa#')) {
					$('#uniteperso2#id#').append('<span style="color: var(--al-success-color) !important;" >#perso2#</span><span>#uniteperso2#</span>');
				}else if ((parseFloat('#perso2#') >= parseFloat('#perso2orangede#')) && (parseFloat('#perso2#') <= parseFloat('#perso2orangea#'))) {
					$('#uniteperso2#id#').append('<span style="color: var(--al-warning-color) !important;" >#perso2#</span><span>#uniteperso2#</span>');
				}else if (parseFloat('#perso2#') > parseFloat('#perso2rougesupa#') && parseFloat('#perso2rougesupa#') !== '') {
					$('#uniteperso2#id#').append('<span style="color: var(--al-danger-color) !important;" >#perso2#</span><span>#uniteperso2#</span>');
				}else {
                    $('#uniteperso2#id#').append('<span>#perso2##uniteperso2#</span>');
				}
			}else {
			    $('#uniteperso2#id#').append('<span>#perso2##uniteperso2#</span>');
			}		
		}
    </script>

</div>
